<div id="cs-classes" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
  
      <div class="modal-content">
  
        <div class="modal-header">
            <h3 class="title" style="text-align: center;">CS Courses taken at UW Madison</h3>
        </div>
  
        <div class="modal-body">
            
            <h4 style="padding-left: 60px; width: 81%; float: left;">Course</h4><h4>Grade</h4>
            <p style="padding-left: 60px; width: 81%; float: left;">Programming 1</p><p>A</p>
            <p style="padding-left: 60px; width: 81%; float: left;">Programming 2</p><p>A</p>
            <p style="padding-left: 60px; width: 81%; float: left;">Intro to Operating Systems</p><p>A</p>
            <p style="padding-left: 60px; width: 81%; float: left;">Intro-Artificl Intelligence</p><p>A</p>
            <p style="padding-left: 60px; width: 81%; float: left;">Database Mgt Systems</p><p>AB</p>
            <p style="padding-left: 60px; width: 81%; float: left;">Introduction to Algorithms </p><p>A</p>
            <p style="padding-left: 60px; width: 81%; float: left;">Intro-Progm Langs&Compilers</p><p>A</p>
            <p style="padding-left: 60px; width: 81%; float: left;">Machine Learning</p><p>B</p>
            <p style="padding-left: 60px; width: 81%; float: left;">Adv Comp Security & Privacy</p><p>A</p>
            <p style="padding-left: 60px; width: 81%; float: left;">HPC for Apps in Engr</p><p>A</p>
            <p style="padding-left: 60px; width: 81%; float: left;">Computer Vision</p><p>A</p>
  
        </div>
  
      </div>
  
    </div>
  </div>
  