<div id="cs-classes" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
  
      <div class="modal-content">
  
        <div class="modal-header">
            <h3 class="title" style="text-align: center;">CS Courses taken at UW Madison</h3>
        </div>
  
        <div class="modal-body">
            
            <h4 class="left-cs-classes" style="width: 81%;">Course</h4><h4>Grade</h4>
            <p class="excerpt left-cs-classes">Programming 1</p><p>A</p>
            <p class="excerpt left-cs-classes">Programming 2</p><p>A</p>
            <p class="excerpt left-cs-classes">Intro to Operating Systems</p><p>A</p>
            <p class="excerpt left-cs-classes">Intro-Artificl Intelligence</p><p>A</p>
            <p class="excerpt left-cs-classes">Database Mgt Systems</p><p>AB</p>
            <p class="excerpt left-cs-classes">Introduction to Algorithms </p><p>A</p>
            <p class="excerpt left-cs-classes">Intro-Progm Langs&Compilers</p><p>A</p>
            <p class="excerpt left-cs-classes">Machine Learning</p><p>B</p>
            <p class="excerpt left-cs-classes">Adv Comp Security & Privacy</p><p>A</p>
            <p class="excerpt left-cs-classes">HPC for Apps in Engr</p><p>A</p>
            <p class="excerpt left-cs-classes">Computer Vision</p><p>A</p>
  
        </div>
  
      </div>
  
    </div>
  </div>
  