<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.title != '' %}
          <h1 class="text-center">{{site.title}}</h1>
          {% endif %}

          <p class="text-center">
            {% if site.description_one != '' %}
            {{site.description_one}}
            {% endif %}
            <br>
            {% if site.description_two != '' %}
            {{site.description_two}}
            {% endif %}
          </p>

          <div class="hero-buttons">


            {% if site.github_username != '' %}
              <a target="_blank" rel="noopener noreferrer" href="https://github.com/{{ site.github_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
            {% endif %}

            <a href="#education"><button class="btn btn-default btn-lg"><i class="{{ site.education_button_icon }}"></i>Education</button></a>

            <a href="#work-history"><button class="btn btn-default btn-lg"><i class="{{ site.work_history_button_icon }}"></i>Work History</button></a>

            <a href="#projects"><button class="btn btn-default btn-lg"><i class="{{ site.projects_button_icon }}"></i>Projects</button></a>

            <a href="#technologies"><button class="btn btn-default btn-lg"><i class="{{ site.technologies_button_icon }}"></i>Technologies</button></a>

          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#education">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
