<div class="content">
  <h2 class="title">{{ post.sub_title }}</h2>

  {% if post.desc_one %}
    <p class="excerpt">{{ post.desc_one }}</p>
  {% endif %}
  {% if post.desc_two %}
    <p class="excerpt">{{ post.desc_two }}</p>
  {% endif %}
  {% if post.desc_three %}
    <p class="excerpt">{{ post.desc_three }}</p>
  {% endif %}
  {% if post.long_desc %}
    <p class="excerpt excerpt-small">{{ post.long_desc }}</p>
  {% endif %}

    {% if post.project_link %}

      {% case post.category %}
        {% when site.education %}
          {% assign button_icon = site.education_button_icon %}
        {% when site.work_history %}
          {% assign button_icon = site.work_history_button_icon %}
        {% when site.projects %}
          {% assign button_icon = site.projects_button_icon %}
        {% when site.technologies %}
          {% assign button_icon = site.technologies_button_icon %}
      {% endcase %}

      <a target="_blank" rel="noopener noreferrer" href="{{ post.project_link }}" class="project-link"><button class="btn btn-default btn-lg post-button"><i class="{{ button_icon }}"></i>{{post.button_text}}</button></a>
  
    {% endif %}

    {% if post.tags != empty %}
    <div class="tags">
      {% for tag in post.tags %}
      <span>{{ tag }}</span>
      {% endfor %}
    </div>
    {% endif %}

</div>
