<div class="content">
  <h3 class="title">{{ post.title }}</h3>

  {% assign items = site.post_items | where:"post_id", post.post_id | sort: 'order_id' %}

  {% for item in items %}
  <h4>{{ item.title }}</h4>
  <ul class="dashed">
    {% if item.desc_one %}
      <li class="excerpt">{{ item.desc_one }}</li>
    {% endif %}
    {% if item.desc_two %}
      <li class="excerpt">{{ item.desc_two }}</li>
    {% endif %}
  </ul>
  {% endfor %}

  {% if post.project_link %}
  <a target="_blank" rel="noopener noreferrer" href="{{ post.project_link }}" class="project-link"><button class="btn btn-default btn-lg hide-mobile"><i class="fa fa-{{post.button_icon}} fa-lg"></i>{{post.button_text}}</button></a>
  {% endif %}

  {% if post.tags != empty %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

  <!-- {% if post.categories != empty %}
  <div class="categories">
    {% for category in post.categories %}
      <span>{{ category }}</span>
    {% endfor %}
  </div>
  {% endif %} -->
</div>
